S3method(getlength,comb)
S3method(getlength,perm)
S3method(getnext,comb)
S3method(getnext,perm)
export(getall)
export(getcurrent)
export(getindex)
export(getlength)
export(getnext)
export(iterpc)
export(multichoose)
export(nc.multiset)
export(np.multiset)
import(Rcpp)
import(polynom)
useDynLib(iterpc)
