S3method(getNext,comb)
S3method(getNext,perm)
S3method(len,comb)
S3method(len,perm)
export(Iter)
export(getAll)
export(getCurrent)
export(getNext)
export(len)
export(multichoose)
export(nc.multiset)
export(np.multiset)
import(Rcpp)
import(polynom)
useDynLib(itercombin)
