S3method(getAll,comb)
S3method(getAll,perm)
S3method(length,comb)
S3method(length,perm)
S3method(getNext,comb)
S3method(getNext,perm)
export(getAll)
export(getCurrent)
export(iterator)
export(multichoose)
export(nc.multiset)
export(getNext)
export(np.multiset)
import(Rcpp)
import(polynom)
useDynLib(itercombin)
